@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --box-shadow: 0 1px 3px rgba(0, 0,0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100px;
    margin: 0;
    font-family: 'Oswald', sans-serif;
  }

.container {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  background-color: #a6a9da;
  margin: 10px auto;
  width: 600px;
}

h2 {
    border-radius: 25px;
    border: 3px solid rgb(0, 0, 0);
    background-color: #a6a9da;
    font-size: 50px;
}

h3 {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 5px;
    margin: 10px 0 10px;
    font-size: 35px;
}

h4 {
    font-size: 35px;
    margin: 0;
    text-transform: uppercase;
}

.balance {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.inc-exp-container {
    background-color: #fff;
    width: 500px;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

.inc-exp-container > div {
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type {
    border-right: 3px solid #dedede;
}

.money {
    font-size: 30px;
    margin: 5px 0;
}

.money.plus {
    color: #2fbb69;
}

.money.minus {
    color: #c0392b;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input[type='text'],
input[type='number'],
input[type='datetime-local'] {
  border: 1px solid #dedede;
  border-radius: 15px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
    cursor: pointer;
    background-color: #1707fd;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    border-radius: 15px;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
}

  .btn:focus,
.delete-btn:focus {
  outline: 10;
}

.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list li.plus {
    border-right: 5px solid #2ecc71;
}
  
.list li.minus {
    border-right: 5px solid #c0392b;
}

.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 20px;
    line-height: 20px;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
.list li:hover .delete-btn {
    opacity: 1;
  }